
html {
    background-color: #221a28;
    height:100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}
body, html {
    height:100%;
    font-family:  'Poppins', sans-serif;
}


canvas {
    position:absolute;
    height:100%;
    width:100%;
}

.main-container {
    margin: 4em ;
    width: 100vw;
}

.main-container  .coverflow-container{
    width: 100vw;
}

.main-container .controls {
    margin: 0 auto;
    padding: 2em 0 0 0;
    text-align: center;
}
.coverflow-container {
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, .1));
}
label {
    color: #999;
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    background: #252525;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}
label:hover {
    color: #FFF;
}
.coverflow-list {
    width: 100%;
}
.coverflow-list .coverflow-item {
    display: inline-block;
    /*background: #414141;*/
    margin-left: -20px;
    margin-bottom:250px ;
    position: relative;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.4);
}

      /*DROP DOWN CARD INFO*/
.coverflow-list .coverflow-item .album-cover {
    display: block;
    height: 150px;
    margin: 0;


}



.coverflow-list .coverflow-item .album-cover img {
    height: 335px;
    width: 310px;
    opacity: 1;
    border-radius: 5px;
}
.coverflow-list .coverflow-item .album-name {
    text-align: center;
    display: block;
    color: #444;
    border-radius: 5px;
}
.coverflow-list .coverflow-item label {
    padding: 0;
    border: none;
    display: block;
    text-shadow: none;
}


.coverflow-list {
    -webkit-transform: perspective(950px);
    -webkit-transform-style: preserve-3d;
    -webkit-perspective-origin: 100% 30%;
}
.coverflow-list .coverflow-item {
    -webkit-transition: all 0.4s ease;
    background: #212121;
    -webkit-transform: rotateY(45deg);
    border-radius: 5px;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + .coverflow-item {
    -webkit-transform: rotateY(0deg);
    transform: scale(1.2);
    margin: 0 auto;
    background: #313131;
    transition: all 1.0s ease-in-out;
}
input[type="radio"]:checked + .coverflow-item img {
    opacity: 1;
}
input[type="radio"]:checked + .coverflow-item figcaption {
    color: #FFFFFF;
}
input[type="radio"]:checked + .coverflow-item ~ .coverflow-item {
    -webkit-transform: rotateY(-45deg);
    background: #515151;
}

.spacer{
    height: 175px;
    background-color: transparent;
}

.spacerTop{
    height: 220px;
}

label{
    background-color: #2f3542;
    border-radius: 10px;
    filter: drop-shadow(0 6mm 4mm rgba(24, 12, 28, 0.5));

}

input{

}

input#phoneNumber{
    background-color: transparent;
    border-bottom: 1px solid floralwhite;
}

input {
    all: unset;
    background-color: transparent;
    border-bottom: 1px solid floralwhite;
}


h1{
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 99;
    color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    filter: drop-shadow(0 6mm 4mm rgba(24, 12, 28, 0.5));

}







/*canvas {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    transform: translateZ(0);*/

/*}*/



form {
    background-color: transparent;
    position: absolute;
    z-index: 1;



}










/*@keyframes cover-forward {*/
/*  0% { transform: rotateY( 45deg ); }*/
/*  50% { transform: rotateY( 0deg ) translate3d( 60px,0,0 ) scale3d(1.2,1.2,1.2); z-index:999; }*/
/*  100% { transform: rotateY( 45deg ) translate3d( 0,0,0 ) scale3d(1,1,1); }*/
/*}*/

/*@keyframes cover-return {*/
/*  0% { transform: rotateY( 45deg ); }*/
/*  100% { transform: rotateY( 0deg ) translate3d( 150px,0,0 ) scale3d(1.2,1.2,1.2); }*/
/*}**/
