@import url("https://fonts.googleapis.com/css?family=Nunito:300, 400, 700");
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap');
body {
    margin: 0;
}

:root {
    font-family: "Nunito", sans-serif;
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

small {
    font-size: 0.9em;
    line-height: 2.5em;
    display: block;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 23px;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    line-height: 1em;
    background: #ff4757;
    border: 0;
    cursor: pointer;
    transition: transform 0.2s;
}
.btn:hover {
    transform: scale(1.05);
}
.btn.btn-light {
    color: #ff4757;
    background: white;
    border: 2px solid #ff4757;
}

/*FORM SIZE*/

.form {
    position: relative;
    width: 80vw;
    max-width: 80%;
    background: #132e3e;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.form__wrapper {
    width: 100%;
    height: 100vh;
    padding: 10vh 20px;
    background: #efefef;

}
.form__options {
    padding: 160px 0;
    display: flex;
    height: 700px;
}
.form__options > div {
    width: 50%;
    text-align: center;
}
.form.slide .form__background {
    left: 50%;
    right: -20px;
}
.form__background {
    position: absolute;
    top: -20px;
    left: -20px;
    right: 50%;
    bottom: -20px;
    background-color: rgba(46, 54, 66, 0.3);
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);*/
    transition: 0.5s cubic-bezier(0.85, 0, 0.15, 1);
    border-radius: 20px;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(7px);
    border-top-right-radius: 50px;
    /* text-shadow: 2px 2px 5px rgba(150, 150, 150, 0.5);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    border-right-style: 11px solid ; */
    box-shadow: 0 10px 50px rgba(22, 40, 80, 0.2);
    border-right: 1.5px solid rgba(245, 240, 240, 0.5);
    /*border-top: 3px solid rgba(245, 240, 240, 1.9);*/
    border: 2px outset rgba(255, 255, 255, 0.3);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;

}
.form__body {
    position: absolute;
    top: 0;
    left: -20px;
    right: -20px;
    bottom: 0;
    padding: 20px 0;
    transition: 0.5s;
    display: flex;
    justify-content: space-around;
    pointer-events: none;

}
.form__body form {
    pointer-events: all;
    margin: 20px 0;
    transition: opacity 0.3s;
}
.form__body form h2 {
    margin-top: 0;
    color: white;
    font-size: 3em;
}
.form__body form .input-field {
    margin-bottom: 10px;
}
.form__body form label {
    display: block;
    color: white;
    line-height: 2em;
    font-weight: 300;
}
.form__body form input[type=text], .form__body form input[type=password], .form__body form input[type=email] {
    padding: 8px;
    border: 0;
    border-radius: 5px;
}
.form form:first-child {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
}
.form.slide form:first-child {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.4s;
}
.form form:last-child {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.4s;
}
.form.slide form:last-child {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
}


/*PASSWORD CHECK CSS*/

span {
    width: 100%;
    display: flex;
    margin: 20px 0px 0px 0px;
    font-family: 'Poppins';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    display: flex;
    align-items: center
}

.fa, .fas {
    margin-right: 15px
}

