<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head :: head">
    <title>Show Profile</title>
</head>
<body>
<nav th:replace="/fragments/navbar :: navbar"></nav>

<main>
    <h1>Show Profile</h1>
    <fieldset>
        <legend>
            <h3>Personal Details</h3>
        </legend>
        <table>
            <tr>
                <th><img th:src="${user.profileImageUrl}" id="profileImage" alt="profile-image"></th>
            </tr>
            <tr>
                <th>Username</th>
                <td th:text="${user.username}"></td>
            </tr>
            <tr th:if="${user.firstName == null || user.lastName == null}">
                <th>Name</th>
                <td th:text="No name available"></td>
            </tr>
            <tr th:if="${user.firstName != null && user.lastName != null}">
                <th>Name</th>
                <td th:text="${user.firstName + ' ' + user.lastName}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td th:text="${user.email}"></td>
            </tr>
            <tr th:if="${user.phoneNumber == null}">
                <th>Phone Number</th>
                <td>No phone number available</td>
            </tr>
            <tr th:if="${user.phoneNumber != null}">
                <th>Phone Number</th>
                <td th:text="${user.phoneNumber}"></td>
            </tr>
            <tr th:if="${user.city == null || user.state == null}">
                <th>City, State</th>
                <td>No city and state available</td>
            </tr>
            <tr th:if="${user.city != null && user.state != null}">
                <th>City, State</th>
                <td th:text="${user.city + ', ' + user.state}"></td>
            </tr>
            <tr th:if="user.interests == null">
                <th>Interests</th>
                <td>No interests selected</td>
            </tr>
            <tr th:if="user.interests != null">
                <th>Interests</th>
                <td th:each="interest : ${user.interests}" th:text="${interest.interest}"></td>
            </tr>
        </table>
    </fieldset>
    <a href="/profile/settings">Edit</a>
    <a href="/password/reset">Reset Password</a>
</main>

<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>